/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  font-size: 62.5%;
}

body{
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
}

img{
  display: block;
  margin: 0 auto;
}

section{
  width: 100%;
  height: 325px;
}

section img{
  float: left;
}

h1{
  font-size: 4rem;
}

button,h3{
  font-size: 2rem;
}

h3{
  margin-top: 50px;
}

h2, h4{
  color: rgb(223, 11, 39);
  font-size: 4rem;
}

h5{
  font-size: 2rem;
  margin-bottom: 30px;
}

section{
  background-color: azure;
  height: 355px;
  padding: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden{
  display: none;
}