/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

section{
  width: 100%;
  height: 325px;
}

section img{
  float: left;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden{
  display: none;
}